/*layout*/
body
{
background-image: url(http://us.123rf.com/400wm/400/400/newage/newage0906/newage090600005/4968208-groene-gras-gazon-bovenaanzicht.jpg);
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
line-height: 20px;
color: #333333;
}
header
{
	width: 900px;
	margin: 20px auto 0;
	background-color: red;
	padding: 10px;
}
header h1
{
	color: yellow;
}
nav ul 
{
	list-style: none;
	margin-left: 130px;

}
nav ul li 
{
	float: left;
	margin-left: 10px; 
	margin-right: 10px;
	display: inline-block;
} 
nav a 
{
	color: yellow;
	text-decoration: none;

}
#content
{
	width: 800px;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, .6);
	padding: 20px;

}







/*general styles*/
h1
{
color:black;
text-align:center;
}
p
{
font-size:20px;
text-align: center;
}
h2
{
	text-align: center;
}
h3
{
	text-align: center;

}
h4
{
	text-align: center;
}
.clearfix
{
	clear:both;
}


/*news*/
div.story
{
	border: 1px solid white;
	padding: 5px;
	margin-bottom: 5px;
}
div.story img 
{
	width: 150px;
	margin-right: 5px;
	float: left;
}
div.story .wrapper
{

}
div.story h4
{
	text-align: left;
	margin: 0px;
}
div.story p 
{
	font-style: italic;
	margin: 0;
	font-size: 13px;
	text-align: left;
}
/*schedule*/
table
{
	width: 400px;
	margin: 0 250px;
}
table td, table th
{
	padding: 8px;
	text-align: left;
}
table td 
{
	border-top:1px solid rgb(175, 167, 78);
}